<div class="field">
    <%= form_tag 'repositories' do %>
        <label for="github_username">请填写Github用户名：</label>
        <input type="text" id="github_username" name="github_username" class="form-control" style="width: 300px"/>
        <input type="submit" value="确定" class='btn btn-default' style="margin-top: 10px;"/>
    <% end %>
</div>
